* {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fonts in main */

h1 {
    text-align: center;
}

#main h4 {
    margin: 5px;
    width: 30vw;
    text-align: center;
    align-self: center;
    margin-bottom: 7vw;
}

/* Main section including input (upload for img) & cardcontainer with all images */

#main {
    display: flex;
    width: 100 vw;
    justify-content: space-around;
    flex-direction: column;
}

#upload {
    display: flex;
    width: 100 vw;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-direction: rows;
}

#upload input {
    border-bottom: #323e48 2px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    outline: 0;
    margin-bottom: 5vw;
    cursor: pointer;
}

#uploadbutton {
    width: 15vw;
    height: 2vw;
    border: #323e48 1px solid;
    cursor: pointer;
}

/* this section holds all cards incl. images and title */
#cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: darkgray 2px solid;
    border-radius: 2%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2vw;
}

img {
    height: 20vw;
    width: 30vw;
    margin: 5px;
    object-fit: cover;
    margin-bottom: 0;
    cursor: pointer;
}

/* this section holds the component, incl. selected img, all comments, comment input section */
.component {
    position: absolute;
    align-self: center;
    text-align: center;
    z-index: 1;
    top: 2vw;
    height: 80vh;
    width: 45vw;
    background-color: black;
}

.component h3 {
    background-color: black;
    color: white;
}

.component h6 {
    align-self: center;
    background-color: black;
    color: white;
}

.component p {
    background-color: black;
    color: white;
    font-size: x-small;
}

.commentsection {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 45vw;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

input.comment {
    align-self: center;
    color: black;
    background-color: whitesmoke;
    height: 20px;
    width: 15vw;
    border: black 1px solid;
    margin-bottom: 12px;
    padding-left: 5px;
}

input.user {
    width: 15vw;
    color: #323e48;
    background-color: whitesmoke;
    align-self: center;
    border-width: 15vw;
    margin-bottom: 12px;
    border-bottom: #323e48 2px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#submitbutton {
    width: 10vw;
    height: 2vw;
    border: #323e48 1px solid;
    cursor: pointer;
    align-self: center;
}

#close {
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;
    cursor: pointer;
    font-size: large;
    margin-top: 5px;
    margin-right: 5px;
}

.comments {
    background-color: black;
}

.comments p {
    background-color: black;
    color: whitesmoke;
    font-size: small;
    margin: 0;
    padding: 5px;
}

.overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
    transform: all;
    transition-duration: 2s;
    display: none;
}
