* {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.card {
    border: darkgray 2px solid;
    border-radius: 2%;
    flex-direction: column;
    text-align: center;
}

img {
    height: 20vw;
    width: 30vw;
    margin: 5px;
    object-fit: cover;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

h6 {
    margin: 5px;
    width: 30vw;
}
